@import "src/variables.scss";

:host{
    background-color: $main-color;
    color: white;
    padding: 5px 15px;
    border-radius: $main-radius;
    text-align: center;
    margin: 0 5px;

    h1{
        font-weight: normal;
        margin: 0;
    }
}