@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {

    // https://github.com/swimlane/ngx-charts/issues/1231

    .tooltip-caret {
        &.position-top{
            border-top-color: $main-color;
        }
        &.position-right{
            border-right-color: $main-color;
        }
        &.position-left{
            border-left-color: $main-color;
        }
        &.position-bottom{
            border-bottom-color: $main-color;
        }
    }

    background-color: $main-color;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    translate: 0 35px;

    .tooltip{
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 5px;
        font-size: .95rem;
    }
}